<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- these are the arguments you can pass this launch file -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- we resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find swarm_robot_description)/gazebo/initialize.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>


  <!-- load the enclosure in parameter server -->
  <param name="enclosure" command="cat '$(find swarm_robot_description)/urdf/enclosure_side_2.0.urdf'"/>

  <!-- spawn the enclosure in gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="enclosure" respawn="false" output="screen" args="-file $(find swarm_robot_description)/urdf/enclosure_side_2.0.urdf -urdf -model enclosure_side_2.0"/>
  <!-- <node pkg="gazebo_ros" type="spawn_model" name="enclosure" respawn="false" output="screen" args="-file $(find swarm_robot_description)/urdf/enclosure_side_10.0.urdf -urdf -model enclosure_side_10.0"/> -->


  <!-- <node pkg="swarm_robot_description" type="swarm_spawner_gazebo_client" name="swarm_spawner_gazebo_client"/> -->


</launch>
